.background {
    /*Think of this as the backgound poster that has no significant*/
    height: 700px;
    border: 2px solid;
    /* background-color: red; */
    /* background: red; */
    /* background-image: url('https://picsum.photos/id/1050/2000');
    background-repeat: no-repeat; */
    /* background-position: 50% 50%; */
    /* background-position: 50%; */
    /* background-position: center;
    background-size: cover; */
    /* opacity: 0.5; */
    /* background: linear-gradient(rgba(255, 0, 0, 0.75), rgba(0,0,0,0.5), yellow); */
    /* background: linear-gradient(to top,blue, yellow); */
    /* background: linear-gradient(red 0%, blue 50%); */
    /* background: radial-gradient(#f11, #0f0); */
    /* background: radial-gradient(#f22 50%, #f0f 50%); */
    background:
        repeating-linear-gradient(45deg, transparent, blue 20px),
        repeating-linear-gradient(green 20px, orange );
} 